
div#sobre {
    width: 100%;
    height: 60vh;
    background-color: rgba(0, 0, 0, 0.64);
    display: flex;
    align-items: center;
    justify-content: center;
}
div#caixasobre {
    width: 70%;
    height: 40vh;
    border-radius: 2px;
    background-color: black;
    box-shadow: 10px 10px #00220A;
    font-family: 'Noto Serif Old Uyghur', serif;
    color: #fdfdfd;
    font-size: 1.8em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;

}

@media only screen and (max-width: 800px) {
    div#sobre {
        height: 80vh;
    
    }
    div#caixasobre {
        height: auto;
        font-size: 1.5em;
    
    }
}

div#titulo {
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.64);
    color: #FEC150;
    font-family: 'Homemade Apple', cursive;
    font-size: 1.4em;

}

@media only screen and (max-width: 800px) {
    div#titulo {
        font-size: 1.2em;
    
    }

}

div#acompanhamentos {
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.64);

}

div#acompanhamentos div {
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Homemade Apple', cursive;
    color: #fdfdfd;
    font-size: 0.8em;

}

div#acompanhamentos img {
    width: 100%;
    height: 10vh;
}

div#vinho {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

div#noz {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

div#geleia {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

div#geleia div#ge1, div#geleia div#ge2 {
    color: #050D22;
} 

div#fruta {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

div#pao {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

div#acompanhamentos .textoaco {
    font-family: 'Noto Serif Old Uyghur', serif;
    color: #fdfdfd;
    text-align: center;
    font-size: 0.7em;
}

div#vinho, div#fruta {
    background-color: #00220a88;
}
div#noz, div#pao {
    background-color: #050d228e;
}
div#geleia {
    background-color: #fec15095;
}

@media only screen and (max-width: 800px) {
    
    div#acompanhamentos {
        width: 100%;
        height: 300vh;
        flex-direction: column;

    }
}

div#queijos {
    width: 100%;
    height: 35vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.64);
}

div#circulos {
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
   
}

div#circulos a {
    text-decoration: none;
    color: #FEC150;
    font-family: 'Homemade Apple', cursive;
    font-size: 1.2em;

}

div#circulos div {
    background-color: #050D22;
    border-color: #00220A;
    border-style: solid;
    width: 12%;
    height: 20vh;
    border-radius: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}

@media only screen and (max-width: 800px) {
    div#queijos {
        height: 120vh;

    }

    div#circulos {
        height: 110vh;
        flex-direction: column;
       
    }

    div#circulos div {
        width: 50vw;
        height: 70vh;
        margin-bottom: 10px;
        
    }
}
